/* SECCION 1 */

/* SECCION 2 */

/* SECCION 3 - 4 - 5 */
.nopa-sec{
	font-size: 20px;
}
.ico-sec{
	float: left;
}
.text-ico.sec{
	float: left;
}
.text-sec3{
	clear: left;
margin-right: 20px;
	margin-top: 28px;
	
	color: #5e6263;
	}

.img-margin3{
	margin-top: 90px;
}
.alto-sec{
	height: 595px;
}
.title-sec3{
	margin-top: 115px;
	color: #4a4a4a;
	
}
.marg-img-sec4{
	float: right;
	margin-top: 66px;
}
.title-sec4{
	clear: left;
	margin-top: 175px;
	color: #5e6263;
	}
.text-sec4{
	clear: left;
	margin-top: 28px;
	color: #5e6263;
	}
.color-background4{
	background-color: #fafafa;
}
.img-sec5{
	margin-bottom: 0px;
	margin-top: -236px
}
.wallpaper-sec5{
	background-image: url("../img/fondo-sec5.png"); 
	height: 595px;
}

.margen3-1{
	margin-right: -15px;
}
.margen3-2{
	margin-left: -15px;
}
.text-negative{
	margin-left: -158px;
}
.pad-sec5{
	padding-bottom: 120px;
}
/* SECCION 6 */

/* SECCION 7 */

/* SECCION 8 */

/* SECCION 9 */

/* PLANTILLA TUTORIAL */